# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions~=1.21.3
azure-functions-durable~=1.2.10
openai~=1.69.0
tiktoken~=0.12.0
tenacity~=9.1.2
azure-storage-blob~=12.25.1
azure-identity~=1.25.1
azure-appconfiguration~=1.7.1
azure-appconfiguration-provider~=2.1.0
polars
numpy
openpyxl